$theme-colors: (
  'primary': #6e6e6e,
  'secondary': #525252,
  'danger': #3a3a3a
);

@import 'bootstrap/scss/bootstrap.scss';

body {
  background-color: #272c31;
  color: rgb(245, 245, 245);
}

header {
  background-color: #272c31;
  color: rgb(245, 245, 245);
  background-image: linear-gradient(#161c24, #00000000);
}

h1 {
  color: rgb(245, 245, 245);
}

input {
  width: 100%;
  height: 40px;
  padding-left: 7px;
  background-color: #525252;
  color: rgb(245, 245, 245);
  border: 1px solid #525252;
  border-radius: 7px;
}

input:focus {
  background-color: #6e6e6e;
  color: rgb(245, 245, 245);
  border: 1px solid #6e6e6e;
}

input::placeholder {
  color: rgb(245, 245, 245);
}

.link {
  color: #3a8fff;
}

.link:hover {
  color: #6faeff;
}

.login-container {
  margin: 0 auto;
  margin-top: 10%;
  width: 300px;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow:
    11px 11px 18px #202428,
    -11px -11px 18px #2e343a;
  border-radius: 1rem;
}
